.app__folio {
    width: 90%;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 2rem 0 2rem 0;
}

.app__folio-top-container {
    width: 100%;

    p {
        margin: 2rem 0;
        text-align: center;
    }

    @media screen and (max-width: 768px) {
        justify-content: center;
        align-items: center;
    }
}

.app__folio-bottom-container {
    @media screen and (max-width: 768px) {
        width: 100%;
    }

    .app__folio-image-container {
        @media screen and (max-width: 768px) {
            flex-direction: column;
            margin-right: 0;
        }

        img {
            box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
            border-radius: 10px;
            width: 25%;
            margin: 2%;
        
            transition: all 0.3s ease-in-out;

            @media screen and (max-width: 768px) {
                width: 80%;
            }
        }

        img:nth-child(2) {
            width: 40%;

            @media screen and (max-width: 768px) {
                display: none;
            }
        }

        img:nth-child(3) {
            @media screen and (max-width: 768px) {
                display: none;
            }
        }
    }

    .app__folio-btns {
        div {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 1px solid var(--lightGray-color);
            margin: 1rem;
            transition: all 0.3s ease-in-out;
            cursor: pointer;
        
            svg {
                width: 20px;
                height: 20px;
                color: var(--gray-color);
            }
        
            &:hover {
                background-color: var(--secondary-color);
                border: 1px solid var(--secondary-color);

                svg {
                    color: var(--white-color);
                }
            }
        
            @media screen and (min-width: 2000px) {
                width: 100px;
                height: 100px;
        
                svg {
                    width: 45px;
                    height: 45px;
                }
            }
        }
    }
}