.app__navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem;
    position: fixed;
    z-index: 2; // place above the content
}

#light .app__navbar {
    background: rgba($color: #eef3f8, $alpha: 0.85);
}

#dark .app__navbar {
    background: rgba($color: #1E1B18, $alpha: 0.85); // --black-chocolate
}

.app__navbar-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    // Style nested properties
    img {
        width: 40px;
        height: 40px;
    }
}

.app__navbar-links {
    flex: 1; // span remaining window space
    display: flex;
    justify-content: flex-end;
    align-items: center;

    list-style: none;

    li {
        margin: 0 1rem;
        cursor: pointer;

        flex-direction: column;

        div {
            width: 5px;
            height: 5px;
            background: transparent;
            border-radius: 50%;

            margin-bottom: 5px;
        }

        a {
            text-decoration: none; // remove default underline
            flex-direction: column;

            text-transform: uppercase;
            font-weight: 500;
            letter-spacing: 0.1em;

            transition: all 0.3s ease-in-out;
        }
    }

    @media screen and (max-width: 900px) {
        display: none;
    }
}

#light .app__navbar-links {
    li {
        a {
            color: var(--gray-color);

            &:hover {
                color: var(--charcoal);
            }
        }

        &:hover {
            div {
                background: var(--charcoal);
            }
        }
    }
}

#dark .app__navbar-links {
    li {
        a {
            color: var(--middle-grey);

            &:hover {
                color: var(--middle-grey-highlight);
            }
        }

        &:hover {
            div {
                background: var(--middle-grey-highlight);
            }
        }
    }
}

.app__navbar-menu {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: relative;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    svg {
        width: 70%;
        height: 70%;
        cursor: pointer;
    }
  
    div {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 5;

        padding: 1rem;

        width: 60%;
        height: 100vh;
        
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        flex-direction: column;
        
        svg {
            width: 25px;
            height: 25px;
            margin: 0.5rem 1rem;
        }
  
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;
    
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
    
            li {
                margin: 1rem;
    
                a {
                    text-decoration: none;
                    font-size: 1rem;
                    text-transform: uppercase;
                    font-weight: 500;
                    letter-spacing: 0.1em;
        
                    transition: all 0.3s ease-in-out;
                }
            }
        }
  
        @media screen and (min-width: 900px) {
            display: none;
        }
    }
  
    @media screen and (min-width: 900px) {
        display: none;
    }
}

#light .app__navbar-menu {
    background-color: var(--white-color);

    svg {
        color: var(--gray-color);
    }

    div {        
        background-color: var(--primary-color);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);


        svg {
            color: var(--gray-color);

            &:hover {
                color: var(--charcoal);
            }
        }
  
        ul {    
            li {
                a {
                    color: var(--gray-color);
        
                    &:hover {
                        color: var(--charcoal);
                    }
                }
            }
        }
    }
}

#dark .app__navbar-menu {
    background-color: var(--soft-black);

    svg {
        color: var(--middle-grey);
    }

    div {        
        background-color: var(--black-chocolate);
        box-shadow: 0px 0px 20px rgba(168, 168, 168, 0.15);

        svg {
            color: var(--middle-grey);

            &:hover {
                color: var(--middle-grey-highlight);
            }
        }
  
        ul {    
            li {
                a {
                    color: var(--middle-grey);
        
                    &:hover {
                        color: var(--middle-grey-highlight);
                    }
                }
            }
        }
    }
}