.app__tech_stack {
    flex: 1;
    width: 100%;
    flex-direction: column;

    margin: 2rem 0 2rem 0;
}

.app__tech_stack-container {
    h2 {
        font-weight: 500;
        color: var(--secondary-color);
        font-style: italic;
        text-align: center;
    }

    @media screen and (min-width: 1400px) {
        width: 70%;
    }

    .app__tech_stack-tagline {
        @media screen and (max-width: 450px) {
            width: 100%;
            padding: 0 3rem 0 3rem;
        }
    }
}
  
.app__tech_stack-list {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
  
    margin: 2rem;
}
  
.app__tech_stack-item {
    flex-direction: column;
    text-align: center;
  
    margin: 1rem;
  
    transition: all 0.3s ease-in-out;
  
    div {
        width: 90px;
        height: 90px;
        border-radius: 50%;
        background-color: var(--white-color);
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.13);

  
        img {
            width: 50%;
            height: 50%;
        }
  
        &:hover {
            box-shadow: 0 0 25px #fef4f5;
        }
    
        @media screen and (min-width: 2000px) {
            width: 150px;
            height: 150px;
        }
    
        @media screen and (max-width: 450px) {
            width: 70px;
            height: 70px;
        }
    }
  
    p {
        font-weight: 500;
        margin-top: 0.5rem;
    }
  
    @media screen and (min-width: 2000px) {
        margin: 1rem 2rem;

        p {
            margin-top: 1rem;
        }
    }
}

.app__tech_stack_description-container {
    width: 90%;
    margin-top: 1.5rem;
  
    display: flex;
    flex-direction: row;
  
    @media screen and (max-width: 1200px) {
        width: 100%;
        flex-direction: column;
    }
}

.app__tech_stack-description {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    margin: 1rem 2rem 0 2rem;

    h4 {
        font-weight: 500;

        &:first-child {
            padding-bottom: 5px;
        }

        &:nth-child(n + 2) {
            padding: 20px 0 5px 0;
        }
    }

    h5 {
        font-weight: 500;
        padding: 15px 0 5px 10px;
    }

    p {
        padding: 5px 0 5px 0;
    }

    a {
        text-decoration: none;
        color: var(--gray-color);
        font-weight: 600;
    }

    .code {
        background-color: rgba(255,229,100,0.2);
    }
}